/*phan 1 css */
.tinnew {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tinnew img {
    width: 400px;
    height: 300px;  
}

figcaption {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;

}

.nguoixem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 400px;
    height: 40px;
    position: absolute;
    top: 275px;
    right: 440px;
}

.nguoixem i {
    font-size: 30px;
    color: yellow;

}

.nguoixem span {
    font-size: 25px;
}




