div{
    width: 300px;
    height: 300px;
    color: white;
    background-color: green;
    margin: 50px 100px;
    text-align: center;
}
div:hover{
    transform: rotate(45deg);
    transition-duration: 3s;
}